
<div class="container">
    <div class="left"></div>
    <div class="center"><h4>{{ circuitData.Circuit.circuitName }}</h4></div>
    <div class="right">
      <button mat-icon-button (click)="map = !map">
        <mat-icon>map</mat-icon>
      </button></div>
</div>

<div *ngIf="map == false else showMap" class="map-container"> 
  <!-- circuit info toggle button -->
    <!-- <button 
      mat-stroked-button
      (click)="onToggleMap()" 
      [disabled]="!circuitData.Circuit.circuitInfo">
     Show Info
    </button> -->
    <h5 class="body-1" *ngIf="toggleCircuit">{{ circuitData.Circuit.circuitInfo }}</h5>
    <img 
      *ngIf="!toggleCircuit"
      src="assets/img/circuits/{{ circuitData.Circuit.circuitImage }}">
</div>

<!-- Google Map -->
<ng-template #showMap>
    <agm-map 
        [mapTypeId]="'hybrid'"
        [zoom] = 14
        [latitude]="circuitData.Circuit.Location.lat * 1"
        [longitude]="circuitData.Circuit.Location.long * 1"
      >
      </agm-map>
</ng-template>




