<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-list>
            <a (click)="onSidenavClose()" fxHide.lt-md
                mat-list-item
                routerLink="seasons">
                Decades Menu
            </a>
            <div fxHide.gt-xs>
            <h4 style="margin: 15px" mat-list-item>Decades Menu</h4>
            <a 
                *ngFor="let el of eras"
                (click)="sidenav.close();"
                mat-list-item 
                routerLink='era/{{el.year}}'>
                {{ el.year }}
            </a></div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-toolbar (openSidenav)="sidenav.toggle()"></app-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
